<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/index.js" defer></script>
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/home/index.css">
    <!-- css 연결 방법 -->
    <script src="https://kit.fontawesome.com/c633279bec.js" 
    crossorigin="anonymous">
    </script>

</head>
<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <i class="fa-brands fa-accusoft"></i>
            <a href="">KimJeongHwan</a>
        </div>

        <ul class="navbar__menu">
            <li><a href="">Home</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Weddings</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Bookings</a></li>
        </ul>

        <div class="navbar__icons">
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-facebook"></i></li>
        </div>

        <a href="#" class="navbar__toggleBnt"><i class="fa-solid fa-bars"></i></a>

    </nav>

</body>
</html> 
